<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Question Form</title>
      <link rel="stylesheet" href="/stylesheets/normalize.css">
      <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/stylesheets/form.css">
  </head>
  <body>

    <form action="/forms" method="post">

      <h1>Questions</h1>

      <fieldset id="rates">
        <legend><span class="number">1</span>Hotels</legend>
        <label for="text">1 Question: Where do you want to stay?</label>
        <input type="radio" id="r1" value="under" name="rates"><label for="under_13" class="light">Heundae </label><br>
        <input type="radio" id="r2" value="under" name="rates"><label for="under_13" class="light">Gwangali </label><br>
        <input type="radio" id="r3" value="under" name="rates"><label for="under_13" class="light">Seomyeon </label><br>

        <label for="text">2 Question: How many people with you?</label>
        <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">1 </label><br>
        <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">2 </label><br>
        <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">more than 2 </label><br>
        <label for="text">3 Question:What kind a price do you want?</label>
        <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">cheap </label><br>

        <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light"> expensive</label><br>



        <fieldset>
        <legend><span class="number">2</span>Restaurants</legend>
        <label for="text">1 Question: What kind of food do you like?</label>
        <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">National food</label><br>
        <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">Junk food</label><br>
        <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">Sea food </label><br>
        <label for="text">2 Question: Should it be near or far from your hotel?</label>
        <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">yes </label><br>
        <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">no</label><br>

        <label for="text">3 Question:What should be the price of foods</label>
        <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">cheap</label><br>
        <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">expensive </label><br>



      <button type="submit" href="/form"<a class="formAction" >Sign Up</a></button>
    </form>

  </body>
</html>
